*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #121212;
  font-family: montserrat;
}

.sidebar{
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.sidebar{
  width: 215px;
  background-color: black;
  position: fixed;
}
.spotify{
  width: 130px;
  padding-top: 24px;
  padding-left: 24px;
}
.navigation{
  padding-left:27px;
  padding-top: 30px;
  font-size: 19px;
}

a{
  text-decoration: none;
  color: #929682;
}


.icons{
  font-size: 22px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.nav{
  font-size: 13px;
  font-weight: bold;
}

.policies span{
  color: 
  #929682;
  font-size: 10px;
  padding-right: 15px;
}

.policies{
  padding-top:100px ;
}

.language{
  margin-top: 30px;
  margin-left: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 19px;
  border-color: white;
  color: white;
  background-color: black;
}
.space{
  margin-top: 25px;

}
a:hover,
a:focus{
  color: white;
}




